:root {
  --primary-color: #31304D;
  --secondary-color: #B6BBC4;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

/* Sidebar */

.wrapper > .sidebar {
  background-color: var(--secondary-color);
}

.wrapper > .sidebar > .title {
  font-size: 2.5rem;
  text-align: center;
}

.wrapper > .sidebar > .projects__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.wrapper > .sidebar > .projects__container > .project {
  padding: 8px;
  font-size: 1.3rem;
  width: 90%;
  background-color: #ffffff2c;
  border-radius: 3px;
}

.wrapper > .sidebar > .projects__container > .project:active {
  background-color: rgb(255, 255, 255);
}

.wrapper > .sidebar > .projects__container > .project:hover {
  cursor: pointer;
  background-color: blanchedalmond;
}

/* Tasks Container */

.wrapper > .tasks-container {
  background-color: var(--primary-color);
}

.wrapper > .tasks-container > .project__details > .project__name {
  font-size: 2.5rem;
  color: white;
}

.wrapper > .tasks-container > .project__details > .project__description {
  font-size: 1.5rem;
  color: gray;
}

.wrapper > .tasks-container > .tasks__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.wrapper > .tasks-container > .tasks__container > .task, .row_label {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #ffffff2c;
  border-radius: 3px;
  flex: 1;
}

.wrapper > .tasks-container > .tasks__container > .task > div {
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
}

.wrapper > .tasks-container > .tasks__container > .row_label {
  background-color: bisque;
}

.wrapper > .tasks-container > .tasks__container > .row_label > div {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
}

.wrapper > .tasks-container > .tasks__container > .task > .taskActionsContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1rem;
}

.deleteButton {
  font-size: 0.5rem;
}

.buttons {
  display: flex;
  gap: 3px;
}